@charset "utf-8";

#container {
	color: #191970;
	text-align: center;
	align-items: center;
	width: 1000px;
	background: white;
	margin: 20px auto;
	padding: 40px;
}

img {
	margin-top: 30px;
	width: 170px;
}

h1 {
	color: #8331a7;
}

input {
	border-radius: 20px;
	width: 200px;
	padding: 10px;
	border-color: #8331a7;
}

#botao {
	margin-top: 30px;
	width: 210px;
	background: #8331a7;
	color: #fff;
	cursor: pointer;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	background-color: #8331a7;
}

.botao1 {
	margin-top: 250x;
	color: white;
	text-decoration: none;
	background-color: #000000;
	padding: 5px 10px 5px 10px;
	font-size: 1.2em;
	font-weight: 700;
	border-radius: 5px;
	border: 10px;
	cursor: pointer;
}