@charset "utf-8";

#container {
	color: #191970;
	text-align: center;
	align-items: center;
	width: 1000px;
	background: white;
	margin: 20px auto;
	padding: 40px;
	border-radius: 50px;
}

img {
	
	margin-top: 30px;
	width: 170px;
}

#imgWidth{
	margin-left: 30px;
}
h1 {
	color: #8331a7;
}

input {
	border-radius: 20px;
	width: 200px;
	padding: 10px;
	border-color: #8331a7;
}
input {
    outline: none;
 
}

#botao {
	margin-top: 30px;
	width: 210px;
	background: #8331a7;
	color: #fff;
	cursor: pointer;
}
#botao{
	  outline: none;
}

body {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
		sans-serif;
	background-color: #8331a7;
}

